version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      actions-minor-patch:
        update-types:
          - "minor"
          - "patch"
  - package-ecosystem: "npm"
    directory: "/apps/ade-web"
    schedule:
      interval: "monthly"
    groups:
      npm-prod-minor-patch:
        dependency-type: "production"
        update-types:
          - "minor"
          - "patch"
      npm-dev-minor-patch:
        dependency-type: "development"
        update-types:
          - "minor"
          - "patch"
